<!doctype html>
<html ng-app="generatorApp">
  <head>
    <meta charset="UTF-8">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.min.js"></script>
    <script src="app.js"></script>
    <script src="services.js"></script>
    <script src="controller.js"></script>
    <script type='text/javascript' src='jquery.js'></script>
    <script type='text/javascript' src='siopm.js'></script>
    <script type='text/javascript' src='lzbase62.min.js'></script>

    <style type="text/css">
    input.n1 {
    width: 11px;
    }
    input.n2 {
    width: 22px;
    }
    label.tl {
    background-color: #DDEEDD;
    }
    </style>

    <title>OPM音色エディタ</title>
  </head>
  <body>
    <div ng-controller="generatorController">
      <div>
        <span>OPM音色エディタ</span>
        <br/>

        <hr>
          <textarea cols="20" rows="7" ng-model="algGraphs[p.ed.alg]"></textarea>
          <br/>

          <span>ALG <input type="text" ng-model="p.ed.alg" ng-change="generate()" ng-blur="generate()" class="n1"></span>
          <span ng-repeat="r in algRadios">
            <label>
              <input type="radio" ng-model="p.ed.alg" ng-change="generate()" ng-blur="generate()" value="{{r.id}}">{{r.name}}
            </label>
          </span>
          <br/>

          <span>FB <input type="text" ng-model="p.ed.fb" ng-change="generate()" ng-blur="generate()" class="n1"></span>
          <span ng-repeat="r in fbRadios">
            <label>
              <input type="radio" ng-model="p.ed.fb" ng-change="generate()" ng-blur="generate()" value="{{r.id}}">{{r.name}}
            </label>
          </span>
          <br/>

          <span>AR OP1 <input type="text" ng-model="p.ed.op0ar" ng-change="generate()" ng-blur="generate()" class="n2"></span>
          <span ng-repeat="r in arRadios">
            <label>
              <input type="radio" ng-model="p.ed.op0ar" ng-change="generate()" ng-blur="generate()" value="{{r.id}}">{{r.name}}
            </label>
          </span>
          <br/>
          <span>AR OP2 <input type="text" ng-model="p.ed.op1ar" ng-change="generate()" ng-blur="generate()" class="n2"></span>
          <span ng-repeat="r in arRadios">
            <label>
              <input type="radio" ng-model="p.ed.op1ar" ng-change="generate()" ng-blur="generate()" value="{{r.id}}">{{r.name}}
            </label>
          </span>
          <br/>
          <span>AR OP3 <input type="text" ng-model="p.ed.op2ar" ng-change="generate()" ng-blur="generate()" class="n2"></span>
          <span ng-repeat="r in arRadios">
            <label>
              <input type="radio" ng-model="p.ed.op2ar" ng-change="generate()" ng-blur="generate()" value="{{r.id}}">{{r.name}}
            </label>
          </span>
          <br/>
          <span>AR OP4 <input type="text" ng-model="p.ed.op3ar" ng-change="generate()" ng-blur="generate()" class="n2"></span>
          <span ng-repeat="r in arRadios">
            <label>
              <input type="radio" ng-model="p.ed.op3ar" ng-change="generate()" ng-blur="generate()" value="{{r.id}}">{{r.name}}
            </label>
          </span>
          <br/>

          <span>DR OP1 <input type="text" ng-model="p.ed.op0dr" ng-change="generate()" ng-blur="generate()" class="n2"></span>
          <span ng-repeat="r in drRadios">
            <label>
              <input type="radio" ng-model="p.ed.op0dr" ng-change="generate()" ng-blur="generate()" value="{{r.id}}">{{r.name}}
            </label>
          </span>
          <br/>
          <span>DR OP2 <input type="text" ng-model="p.ed.op1dr" ng-change="generate()" ng-blur="generate()" class="n2"></span>
          <span ng-repeat="r in drRadios">
            <label>
              <input type="radio" ng-model="p.ed.op1dr" ng-change="generate()" ng-blur="generate()" value="{{r.id}}">{{r.name}}
            </label>
          </span>
          <br/>
          <span>DR OP3 <input type="text" ng-model="p.ed.op2dr" ng-change="generate()" ng-blur="generate()" class="n2"></span>
          <span ng-repeat="r in drRadios">
            <label>
              <input type="radio" ng-model="p.ed.op2dr" ng-change="generate()" ng-blur="generate()" value="{{r.id}}">{{r.name}}
            </label>
          </span>
          <br/>
          <span>DR OP4 <input type="text" ng-model="p.ed.op3dr" ng-change="generate()" ng-blur="generate()" class="n2"></span>
          <span ng-repeat="r in drRadios">
            <label>
              <input type="radio" ng-model="p.ed.op3dr" ng-change="generate()" ng-blur="generate()" value="{{r.id}}">{{r.name}}
            </label>
          </span>
          <br/>

          <span>SR OP1 <input type="text" ng-model="p.ed.op0sr" ng-change="generate()" ng-blur="generate()" class="n2"></span>
          <span ng-repeat="r in srRadios">
            <label>
              <input type="radio" ng-model="p.ed.op0sr" ng-change="generate()" ng-blur="generate()" value="{{r.id}}">{{r.name}}
            </label>
          </span>
          <br/>
          <span>SR OP2 <input type="text" ng-model="p.ed.op1sr" ng-change="generate()" ng-blur="generate()" class="n2"></span>
          <span ng-repeat="r in srRadios">
            <label>
              <input type="radio" ng-model="p.ed.op1sr" ng-change="generate()" ng-blur="generate()" value="{{r.id}}">{{r.name}}
            </label>
          </span>
          <br/>
          <span>SR OP3 <input type="text" ng-model="p.ed.op2sr" ng-change="generate()" ng-blur="generate()" class="n2"></span>
          <span ng-repeat="r in srRadios">
            <label>
              <input type="radio" ng-model="p.ed.op2sr" ng-change="generate()" ng-blur="generate()" value="{{r.id}}">{{r.name}}
            </label>
          </span>
          <br/>
          <span>SR OP4 <input type="text" ng-model="p.ed.op3sr" ng-change="generate()" ng-blur="generate()" class="n2"></span>
          <span ng-repeat="r in srRadios">
            <label>
              <input type="radio" ng-model="p.ed.op3sr" ng-change="generate()" ng-blur="generate()" value="{{r.id}}">{{r.name}}
            </label>
          </span>
          <br/>

          <span>RR OP1 <input type="text" ng-model="p.ed.op0rr" ng-change="generate()" ng-blur="generate()" class="n2"></span>
          <span ng-repeat="r in rrRadios">
            <label>
              <input type="radio" ng-model="p.ed.op0rr" ng-change="generate()" ng-blur="generate()" value="{{r.id}}">{{r.name}}
            </label>
          </span>
          <br/>
          <span>RR OP2 <input type="text" ng-model="p.ed.op1rr" ng-change="generate()" ng-blur="generate()" class="n2"></span>
          <span ng-repeat="r in rrRadios">
            <label>
              <input type="radio" ng-model="p.ed.op1rr" ng-change="generate()" ng-blur="generate()" value="{{r.id}}">{{r.name}}
            </label>
          </span>
          <br/>
          <span>RR OP3 <input type="text" ng-model="p.ed.op2rr" ng-change="generate()" ng-blur="generate()" class="n2"></span>
          <span ng-repeat="r in rrRadios">
            <label>
              <input type="radio" ng-model="p.ed.op2rr" ng-change="generate()" ng-blur="generate()" value="{{r.id}}">{{r.name}}
            </label>
          </span>
          <br/>
          <span>RR OP4 <input type="text" ng-model="p.ed.op3rr" ng-change="generate()" ng-blur="generate()" class="n2"></span>
          <span ng-repeat="r in rrRadios">
            <label>
              <input type="radio" ng-model="p.ed.op3rr" ng-change="generate()" ng-blur="generate()" value="{{r.id}}">{{r.name}}
            </label>
          </span>
          <br/>

          <span>SL OP1 <input type="text" ng-model="p.ed.op0sl" ng-change="generate()" ng-blur="generate()" class="n2"></span>
          <span ng-repeat="r in slRadios">
            <label>
              <input type="radio" ng-model="p.ed.op0sl" ng-change="generate()" ng-blur="generate()" value="{{r.id}}">{{r.name}}
            </label>
          </span>
          <br/>
          <span>SL OP2 <input type="text" ng-model="p.ed.op1sl" ng-change="generate()" ng-blur="generate()" class="n2"></span>
          <span ng-repeat="r in slRadios">
            <label>
              <input type="radio" ng-model="p.ed.op1sl" ng-change="generate()" ng-blur="generate()" value="{{r.id}}">{{r.name}}
            </label>
          </span>
          <br/>
          <span>SL OP3 <input type="text" ng-model="p.ed.op2sl" ng-change="generate()" ng-blur="generate()" class="n2"></span>
          <span ng-repeat="r in slRadios">
            <label>
              <input type="radio" ng-model="p.ed.op2sl" ng-change="generate()" ng-blur="generate()" value="{{r.id}}">{{r.name}}
            </label>
          </span>
          <br/>
          <span>SL OP4 <input type="text" ng-model="p.ed.op3sl" ng-change="generate()" ng-blur="generate()" class="n2"></span>
          <span ng-repeat="r in slRadios">
            <label>
              <input type="radio" ng-model="p.ed.op3sl" ng-change="generate()" ng-blur="generate()" value="{{r.id}}">{{r.name}}
            </label>
          </span>
          <br/>

          <span>TL OP1 <input type="text" ng-model="p.ed.op0tl" ng-change="generate()" ng-blur="generate()" class="n2"></span>
          <span ng-repeat="r in tlRadios">
            <label class="tl">
              <input type="radio" ng-model="p.ed.op0tl" ng-change="generate()" ng-blur="generate()" value="{{r.id}}">{{r.name}}
            </label>
          </span>
          <br/>
          <span>TL OP2 <input type="text" ng-model="p.ed.op1tl" ng-change="generate()" ng-blur="generate()" class="n2"></span>
          <span ng-repeat="r in tlRadios">
            <label class="tl">
              <input type="radio" ng-model="p.ed.op1tl" ng-change="generate()" ng-blur="generate()" value="{{r.id}}">{{r.name}}
            </label>
          </span>
          <br/>
          <span>TL OP3 <input type="text" ng-model="p.ed.op2tl" ng-change="generate()" ng-blur="generate()" class="n2"></span>
          <span ng-repeat="r in tlRadios">
            <label class="tl">
              <input type="radio" ng-model="p.ed.op2tl" ng-change="generate()" ng-blur="generate()" value="{{r.id}}">{{r.name}}
            </label>
          </span>
          <br/>
          <span>TL OP4 <input type="text" ng-model="p.ed.op3tl" ng-change="generate()" ng-blur="generate()" class="n2"></span>
          <span ng-repeat="r in tlRadios">
            <label class="tl">
              <input type="radio" ng-model="p.ed.op3tl" ng-change="generate()" ng-blur="generate()" value="{{r.id}}">{{r.name}}
            </label>
          </span>
          <br/>

          <span>KS OP1 <input type="text" ng-model="p.ed.op0ks" ng-change="generate()" ng-blur="generate()" class="n2"></span>
          <span ng-repeat="r in ksRadios">
            <label>
              <input type="radio" ng-model="p.ed.op0ks" ng-change="generate()" ng-blur="generate()" value="{{r.id}}">{{r.name}}
            </label>
          </span>
          <br/>
          <span>KS OP2 <input type="text" ng-model="p.ed.op1ks" ng-change="generate()" ng-blur="generate()" class="n2"></span>
          <span ng-repeat="r in ksRadios">
            <label>
              <input type="radio" ng-model="p.ed.op1ks" ng-change="generate()" ng-blur="generate()" value="{{r.id}}">{{r.name}}
            </label>
          </span>
          <br/>
          <span>KS OP3 <input type="text" ng-model="p.ed.op2ks" ng-change="generate()" ng-blur="generate()" class="n2"></span>
          <span ng-repeat="r in ksRadios">
            <label>
              <input type="radio" ng-model="p.ed.op2ks" ng-change="generate()" ng-blur="generate()" value="{{r.id}}">{{r.name}}
            </label>
          </span>
          <br/>
          <span>KS OP4 <input type="text" ng-model="p.ed.op3ks" ng-change="generate()" ng-blur="generate()" class="n2"></span>
          <span ng-repeat="r in ksRadios">
            <label>
              <input type="radio" ng-model="p.ed.op3ks" ng-change="generate()" ng-blur="generate()" value="{{r.id}}">{{r.name}}
            </label>
          </span>
          <br/>

          <span>MUL OP1 <input type="text" ng-model="p.ed.op0mul" ng-change="generate()" ng-blur="generate()" class="n2"></span>
          <span ng-repeat="r in mulRadios">
            <label>
              <input type="radio" ng-model="p.ed.op0mul" ng-change="generate()" ng-blur="generate()" value="{{r.id}}">{{r.name}}
            </label>
          </span>
          <br/>
          <span>MUL OP2 <input type="text" ng-model="p.ed.op1mul" ng-change="generate()" ng-blur="generate()" class="n2"></span>
          <span ng-repeat="r in mulRadios">
            <label>
              <input type="radio" ng-model="p.ed.op1mul" ng-change="generate()" ng-blur="generate()" value="{{r.id}}">{{r.name}}
            </label>
          </span>
          <br/>
          <span>MUL OP3 <input type="text" ng-model="p.ed.op2mul" ng-change="generate()" ng-blur="generate()" class="n2"></span>
          <span ng-repeat="r in mulRadios">
            <label>
              <input type="radio" ng-model="p.ed.op2mul" ng-change="generate()" ng-blur="generate()" value="{{r.id}}">{{r.name}}
            </label>
          </span>
          <br/>
          <span>MUL OP4 <input type="text" ng-model="p.ed.op3mul" ng-change="generate()" ng-blur="generate()" class="n2"></span>
          <span ng-repeat="r in mulRadios">
            <label>
              <input type="radio" ng-model="p.ed.op3mul" ng-change="generate()" ng-blur="generate()" value="{{r.id}}">{{r.name}}
            </label>
          </span>
          <br/>

          <span>DT1 OP1 <input type="text" ng-model="p.ed.op0dt1" ng-change="generate()" ng-blur="generate()" class="n2"></span>
          <span ng-repeat="r in dt1Radios">
            <label>
              <input type="radio" ng-model="p.ed.op0dt1" ng-change="generate()" ng-blur="generate()" value="{{r.id}}">{{r.name}}
            </label>
          </span>
          <br/>
          <span>DT1 OP2 <input type="text" ng-model="p.ed.op1dt1" ng-change="generate()" ng-blur="generate()" class="n2"></span>
          <span ng-repeat="r in dt1Radios">
            <label>
              <input type="radio" ng-model="p.ed.op1dt1" ng-change="generate()" ng-blur="generate()" value="{{r.id}}">{{r.name}}
            </label>
          </span>
          <br/>
          <span>DT1 OP3 <input type="text" ng-model="p.ed.op2dt1" ng-change="generate()" ng-blur="generate()" class="n2"></span>
          <span ng-repeat="r in dt1Radios">
            <label>
              <input type="radio" ng-model="p.ed.op2dt1" ng-change="generate()" ng-blur="generate()" value="{{r.id}}">{{r.name}}
            </label>
          </span>
          <br/>
          <span>DT1 OP4 <input type="text" ng-model="p.ed.op3dt1" ng-change="generate()" ng-blur="generate()" class="n2"></span>
          <span ng-repeat="r in dt1Radios">
            <label>
              <input type="radio" ng-model="p.ed.op3dt1" ng-change="generate()" ng-blur="generate()" value="{{r.id}}">{{r.name}}
            </label>
          </span>
          <br/>

          <span>DT2 OP1 <input type="text" ng-model="p.ed.op0dt2" ng-change="generate()" ng-blur="generate()" class="n2"></span>
          <span ng-repeat="r in dt2Radios">
            <label>
              <input type="radio" ng-model="p.ed.op0dt2" ng-change="generate()" ng-blur="generate()" value="{{r.id}}">{{r.name}}
            </label>
          </span>
          <br/>
          <span>DT2 OP2 <input type="text" ng-model="p.ed.op1dt2" ng-change="generate()" ng-blur="generate()" class="n2"></span>
          <span ng-repeat="r in dt2Radios">
            <label>
              <input type="radio" ng-model="p.ed.op1dt2" ng-change="generate()" ng-blur="generate()" value="{{r.id}}">{{r.name}}
            </label>
          </span>
          <br/>
          <span>DT2 OP3 <input type="text" ng-model="p.ed.op2dt2" ng-change="generate()" ng-blur="generate()" class="n2"></span>
          <span ng-repeat="r in dt2Radios">
            <label>
              <input type="radio" ng-model="p.ed.op2dt2" ng-change="generate()" ng-blur="generate()" value="{{r.id}}">{{r.name}}
            </label>
          </span>
          <br/>
          <span>DT2 OP4 <input type="text" ng-model="p.ed.op3dt2" ng-change="generate()" ng-blur="generate()" class="n2"></span>
          <span ng-repeat="r in dt2Radios">
            <label>
              <input type="radio" ng-model="p.ed.op3dt2" ng-change="generate()" ng-blur="generate()" value="{{r.id}}">{{r.name}}
            </label>
          </span>
          <br/>

          <span>AMS OP1 <input type="text" ng-model="p.ed.op0ams" ng-change="generate()" ng-blur="generate()" class="n2"></span>
          <span ng-repeat="r in amsRadios">
            <label>
              <input type="radio" ng-model="p.ed.op0ams" ng-change="generate()" ng-blur="generate()" value="{{r.id}}">{{r.name}}
            </label>
          </span>
          <br/>
          <span>AMS OP2 <input type="text" ng-model="p.ed.op1ams" ng-change="generate()" ng-blur="generate()" class="n2"></span>
          <span ng-repeat="r in amsRadios">
            <label>
              <input type="radio" ng-model="p.ed.op1ams" ng-change="generate()" ng-blur="generate()" value="{{r.id}}">{{r.name}}
            </label>
          </span>
          <br/>
          <span>AMS OP3 <input type="text" ng-model="p.ed.op2ams" ng-change="generate()" ng-blur="generate()" class="n2"></span>
          <span ng-repeat="r in amsRadios">
            <label>
              <input type="radio" ng-model="p.ed.op2ams" ng-change="generate()" ng-blur="generate()" value="{{r.id}}">{{r.name}}
            </label>
          </span>
          <br/>
          <span>AMS OP4 <input type="text" ng-model="p.ed.op3ams" ng-change="generate()" ng-blur="generate()" class="n2"></span>
          <span ng-repeat="r in amsRadios">
            <label>
              <input type="radio" ng-model="p.ed.op3ams" ng-change="generate()" ng-blur="generate()" value="{{r.id}}">{{r.name}}
            </label>
          </span>
          <br/>

          <textarea cols="20" rows="7" ng-model="algGraphs[p.ed.alg]"></textarea>
          <hr>

          <br/>
            <label>
              <input type="radio" ng-model="p.targetToneNum" ng-change="changeTargetToneNum()" value="0">音色1を編集
            </label>
            <label>
              <input type="radio" ng-model="p.targetToneNum" ng-change="changeTargetToneNum()" value="1">音色2を編集
            </label>
          <br/>

      </div>

      <hr>
          <span>プレビューフレーズ</span>
          <br/>
          <textarea cols="80" rows="1"
            ng-model="p.ed.previewPhrase"
            placeholder="プレビューフレーズ"
            ng-change="generate()" ng-blur="generate()"
          ></textarea>
      <hr>
          <span>MML生成結果</span>
          <br/>
          <textarea cols="80" rows="6"
            ng-model="generatedMml"
            placeholder="MML生成結果"
            ng-change="play()" ng-blur="play()"
          ></textarea>
      <hr>
        <br/>
        <button ng-click='openTweet()'>ツイートする</button>
        <a href="https://twitter.com/search?q=%23mmlchordgen%20OR%20%23sionmml%20OR%20%23opmtone%20-RT&src=typd" target="_blank">ハッシュタグ検索</a>
        <br/>
        <br/>
      <hr>

      <div>
        <a href="http://app.16dimensional.com/stadon/">すたどんたん</a>
      </div>
      <br/>
      <div>
        <a href="https://github.com/cat2151/MML-chord-generator/issues/13">音が途切れた場合はchromeを試すといいかも</a>
      </div>
      <br/>
      <div>
        <a href="https://github.com/cat2151/OPM-tone-easy-editor/">ソースファイル githubリポジトリ</a>
      </div>
      <br/>
      <div>
        <a href="https://github.com/keim/SiON/">Powered by SiON</a>
      </div>
    </div>
  </body>
</html>
